@media (max-width: 992px) {
  .box {
    flex: 1 1 45%;
  }
  span {
    display: none;
  }
  .nav_second {
    display: none;
  }
  .add_icon {
    display: none;
  }
  #pc {
    display: none;
  }
  .add_top {
    display: none;
  }
  .phone_text {
    display: none;
  }
  .hero_message {
    font-size: 1rem;
    gap: 16%;
  }
  .mc_ {
    display: none;
  }
}
@media (max-width: 600px) {
  .hero_section {
  background-image: url("../logo/pixel_10_pro.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .box {
    flex: 1 1 100%;
  }
  .logo {
    margin-top: 8px;
    height: 40px;
    width: 100px;
  }
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 110px;
  }
  .nav_second {
    display: none;
  }
  span {
    display: none;
  }
  .nav_add {
    display: none;
  }
  .nav_search {
    width: 100%;
  }
  .nav_second {
    display: none;
  }
  .nav_search {
    flex: 1 1 100%;
    order: 2; /* moves it to the next line visually */
  }
  .panel_option {
    display: none;
  }

  .nav_logo {
    display: block;
  }
  .panel {
    justify-content: space-between;
  }
  .hero_message {
    border-radius: 16px;
    justify-content: space-between;
    font-size: 0.8rem;
  }
  .shop_now {
    margin-right: 4%;
    border-radius: 16px;
    font-size: 0.75rem;
  }
  .phone_text {
    display: none;
  }
  .pc_text {
    margin-left: 4%;
  }
  .foot_panel_2 {
    display: none;
  }
  @media (max-width: 500px) {
    .box {
      width: 80%;
      margin-top: 8px;
    } /* 1 card per row */
    .pc_text {
      display: none;
    }
    .phone_text {
      display: block;
      font-size: 1rem;
      margin-left: 8%;
    }
  }
}
