* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_logo {
  height: 50px;
  width: 130px;
}
.logo {
  background-image: url("../logo/amazon_logo_white.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
/* box */
.add_top {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 20px;
}
.add_bottom {
  color: white;
  font-size: 1rem;
}
.add_icon {
  display: flex;
  align-items: center;
}

/* box 3 */

.nav_search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 7px;
  border: transparent 2px solid;
}
.search_option {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}
.search_input {
  width: 100%;
  border: none;
  font-size: 1rem;
  border: none;
}
.search_icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.32rem;
  background-color: #febd69;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

/* Box 4 */
.nav_links {
  color: white;
  text-decoration: none;
}
span {
  font-size: 0.7rem;
}
.nav_second {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav_search:hover {
  border: 2px solid orange;
}
.nav_cart i {
  font-size: 1.2rem;
}
.nav_cart {
  padding: 4px;
  font-size: 0.85rem;
  font-weight: 700;
}
/* Panel */
.panel {
  height: 40px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.85rem;
}
.panel_option p {
  display: inline;
  margin-left: 16px;
  padding: 8px;
}
.panel_all {
  padding: 8px;
}
.panel_option {
  width: 50%;
  font-size: 0.85rem;
}
.panel_deals {
  font-size: 0.9rem;
  font-weight: 700;
}
/* Hero Section */
.hero_section {
  background-image: url("../logo/pixel_10_pro.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero_message {
  background-color: white;
  color: black;
  height: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 64px;
}
.hero_message button {
  font-weight: 700;
}
/* Shop Items */
.shop_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #bfc3ce;
}
.box {
  height: 300px;
  width: 23%;
  background-color: white;
  padding: 20px 0 15;
  margin-bottom: 16px;
}
/* Tablets */
.box_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.box_image {
  height: 250px;
  width: 90%;
  margin-top: 8px;
  background-size: cover;
}

.see_more {
  padding-right: 64%;
  color: rgb(37, 7, 201);
}
.shop_now {
  background-color: #febd69;
  border: 1px solid;
  margin-left: 16px;
  height: 24px;
  width: 80px;
  font-weight: 700;
}
.blank_space {
  margin-top: 40%;
  height: 100%;
  width: 100%;
}

/* Footer */
footer {
  margin-top: 16px;
}
.foot_panel_1 {
  height: 50px;
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}
.back_to_top {
  color: #f3f3f3;
  text-decoration-style: none;
  font-weight: 700;
  font-size: 1rem;
}
.foot_panel_2 {
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  font-size: 0.85rem;
}
.foot_box p {
  font-size: 0.7rem;
  margin-bottom: 4px;
}
.foot_box h3 {
  margin-bottom: 4px;
}
.foot_panel_3 {
  background-color: #0f1111;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.85rem;
  border-top: 1px solid #3a4553;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-image: url("../logo/amazon_logo_white.png");
  background-size: cover;
  height: 50px;
  width: 130px;
}
.foot_panel_4 {
  background-color: #0f1111;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 0.85rem;
  border-top: 1px solid #3a4553;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.location_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16%;
}
.location_link {
  color: #f3f3f3;
  text-decoration-style: none;
  font-weight: 700;
  font-size: 1rem;
}
